:root{
    --background-color: #efefef;
    --text-color: #323232;
    --button-color: #47A1FF;
}

.hide{display: none;}

body{
    font-family: 'Open Sans', sans-serif;

    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    padding: 10px;
    height: 100vh;
    width: 100%;
    min-width: 300px;
    overflow-y: hidden;
    background-color: var(--background-color);
}

#header__title{
    font-size: 2.5em;
    font-weight: 600;
    margin: 50px auto;
    text-align: center;
    color: var(--text-color);
}

#header__subhead{
    font-size: 1.5em;
    font-weight: 300;
    margin: 80px auto;
    padding: 0 15px;
    max-width: 420px;
    text-align: center;
    color: var(--text-color);
}

.btn-form{
    position: relative;
    font-size: 1.4em;
    font-weight: 500;
    margin: 10px 0;
    padding: 9px 28px;
    cursor: pointer;
    border: none;
    border: 2px solid var(--button-color);
    border-radius: 5px;
    overflow: hidden;
    color: transparent;
    background-color: transparent;
}

.btn-form::after{
    position: absolute;
    content: '';
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 500000px;
    background-color: var(--button-color);
}

#btn-login::after{
    top: 50px;
    right: -50px;
}

#btn-signup::after{
    top: 50px;
    left: -50px;
    background-color: var(--button-color);
}

.btn-deselected--login:hover{
    filter: brightness(104%);
    background-color: var(--background-color);
}

.btn-deselected--signup:hover{
    filter: brightness(104%);
    background-color: var(--background-color);
}

.btn-selected--login{
    animation: btn-selected--color .2s linear .2s forwards;
}

.btn-selected--login::after{
    animation: btn-selected--login .7s linear forwards;
}

.btn-deselected--login{
    animation: btn-deselected--color .2s linear .4s forwards;
}

.btn-deselected--login::after{
    animation: btn-deselected--login .7s linear forwards;
}

.btn-selected--signup{
    animation: btn-selected--color .2s linear .2s forwards;
}

.btn-selected--signup::after{
    animation: btn-selected--signup .7s linear forwards;
}

.btn-deselected--signup{
    animation: btn-deselected--color .4s linear .4s forwards;
}

.btn-deselected--signup::after{
    animation: btn-deselected--signup .7s linear forwards;
}

@keyframes btn-selected--color {
    0%{
        color: var(--text-color);
    }
    100%{
        color: var(--background-color);
    }
}

@keyframes btn-deselected--color {
    0%{
        color: var(--background-color);
    }
    100%{
        color: var(--text-color);
    }
}

@keyframes btn-selected--login {
    0%{
        top: 50px;
        right: -50px;
        height: 50px;
        width: 50px;
    }
    100%{
        top: -55px;
        right: -15px;
        height: 200px;
        width: 200px;
    }
}

@keyframes btn-deselected--login {
    0%{
        top: -55px;
        right: -15px;
        height: 200px;
        width: 200px;
    }
    100%{
        top: 50px;
        right: -50px;
        height: 50px;
        width: 50px;
    }
}

@keyframes btn-selected--signup {
    0%{
        top: 50px;
        left: -50px;
        height: 50px;
        width: 50px;
    }
    100%{
        top: -55px;
        left: -15px;
        height: 200px;
        width: 200px;
    }
}

@keyframes btn-deselected--signup {
    0%{
        top: -55px;
        left: -15px;
        height: 200px;
        width: 200px;
    }
    100%{
        top: 50px;
        left: -50px;
        height: 50px;
        width: 50px;
    }
}

@keyframes email-fadeout {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes email-fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

form{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
}

#field-container{
    display: grid;
        grid-template-columns: 32px 1fr 32px;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    position: relative;
}

.icon-form{
    grid-column: 1/2;
    justify-self: center;
    color: var(--text-color);
}

.fade-in{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.fade-out{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

form div input{
    font-size: 1em;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border:none;
    border-bottom: 1px solid #999 ;
    background-color: transparent;
}

#btn-confirm{
    position: relative;
    font-size: 1.3em;
    grid-column: 2/3;
    padding: 10px 15px;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border: 2px solid var(--button-color);
    border-radius: 5px;
    background-color: transparent;
}

#btn-confirm::after{
    position: absolute;
        top: 100%;
        right: calc(50% - 25px);
    content: '';
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 5000000000px;
    background-color: var(--button-color);
}

#btn-confirm:hover{
    filter: brightness(103%);
    background-color: var(--background-color);
}

@keyframes animation-btn-confirm {
    0%{
        top: 100%;
        height: 50px;
        width: 50px;
    }
    100%{
        top: -100%;
        right: calc(50% - 150px);
        height: 300px;
        width: 300px;
    }
}

.animation-btn-confirm{
    animation: btn-selected--color .4s linear 0s forwards;
}
.animation-btn-confirm::after{
    animation: animation-btn-confirm .7s linear 0s forwards;
}

@media screen and (min-width: 650px) {
    body{
        justify-content: center;
    }
    #header__title{
        font-size: 2.5em;
        max-width: 400px;
    }
    #header__subhead{
        font-size: 2em;
        max-width: 400px;
    }
}

@media screen and (min-width: 800px){
    #header__title{
        font-size: 3.8em;
        max-width: 550px;
        position: relative;
        transform: translateY(-50px);
        z-index: 10;
    }
    #header__subhead{
        font-size: 3em;
        max-width: 600px;
    }
    #form-container{
        position: relative;
        transform: translateY(-30px);
        z-index: 100;
    }
}

.mssg-verified{
    position: absolute;
    font-size: 1.2em;
    font-weight: 100;
    padding: 20px 35px;
    max-width: 350px;
    z-index: 500;
    text-align: center;
    border-radius: 5px;
    background-color: #00e677;
}

.mssg-error{
    position: absolute;
    font-size: 1.2em;
    font-weight: 500;
    padding: 20px 35px;
    max-width: 350px;
    z-index: 500;
    text-align: center;
    border-radius: 5px;
    color: var(--background-color);
    background-color: #ff3c00;
}

